<ion-view view-title="Home" hide-nav-bar="true">
	<ion-nav-bar class="bar-positive">
  		<!-- <button class="button button-icon icon ion-navicon"></button> -->
  		<!-- <button class="button icon ion-gear-a button-clear"></button> -->
	</ion-nav-bar>

	<ion-content class="splash padding">
		<!-- <h2>Home</h2> -->
		<div class="branding">
			<img src="img/rouxacademylogo.svg" alt="RouxAcademy Logo">
			<div class="tagline">2016</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
		</div>
		
	</ion-content>
</ion-view>

