<ion-view view-title="Home" >
	<ion-nav-bar class="bar-positive">
  		<button class="button button-icon icon ion-navicon"></button>
  		<button class="button icon ion-gear-a button-clear"></button>
	</ion-nav-bar>

	<ion-content class="padding">
		<h2>Home</h2>
	<!-- 	<div class="list">
		  <label class="item item-input">
	     <input type="text" placeholder="姓" name="">
		  </label>
		  <label class="item item-input">
		      <input type="text" placeholder="名">
		  </label>
		</div> -->
	</ion-content>
</ion-view>

