<script src="js/login/login.js"></script>

<ion-view view-title='asss'>
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="姓" name="">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="名">
      </label>
    </div>

    <div ng-controller='login'>
      <a href="#/main" class="button button-block button-positive button-outline " ng-click="goLogin()">
      Block Button{{test}}
      </a>
    </div>

    <div class="button-bar">
      <a href="" class="icon icon-left ion-social-twitter button button-positive">
        twitter
      </a>
      <a href="" class="icon icon-left ion-social-facebook button button-positive">facebook</a>
      <a class="icon icon-left ion-social-youtube button button-positive">youtube</a>
    </div>

    

    

  </ion-content>   
</ion-view>

