<!-- <script src="js/login/login.js"></script> -->
<ion-view view-title='Login'>
  <ion-header-bar class="bar-positive">
    <!-- <button class="button icon ion-gear-a button-clear"></button> -->
    <h2 class="title">Login</h2>
    <!-- <button class="button button-icon icon ion-navicon"></button> -->
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model ="username" placeholder="姓" name="">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="password" placeholder="名">
      </label>
    </div>
    <script src="js/login/login.js"></script>
    <div ng-controller='login'>
      <button class="button button-block button-positive button-outline " ng-click="goLogin(username,password)">
      Block Button
      </button>
    </div>

    <div class="button-bar">
      <a href="" class="icon icon-left ion-social-twitter button button-positive">
        twitter
      </a>
      <a href="" class="icon icon-left ion-social-facebook button button-positive">facebook</a>
      <a class="icon icon-left ion-social-youtube button button-positive">youtube</a>
    </div>
  </ion-content>   
</ion-view>

