
<ion-tabs class="tabs-striped tabs-icon-top">
  <ion-tab icon="ion-home" title="Home" badge="1" href="#/main/home">
  	<ion-nav-view name="main-home">  	
  	</ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-person" title="Person" href="#/main/person">
  	  	<ion-nav-view name="main-person">
  	
  	</ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-calendar" title="Calendar" href='#/main/calendar'>
  	  	<ion-nav-view name="main-calendar">
  	</ion-nav-view>
  </ion-tab>
</ion-tabs>

<!-- <a href="" class="tab-item"><i class="icon ion-home"></i> Home</a>
  <a href="" class="tab-item"><i class="icon ion-person"></i> About</a>
  <a href="" class="tab-item"><i class="icon ion-calendar"></i> Calendar</a> -->